.fx-hide-desktop { display: none; }
@media (max-width: 1024px) {
  .fx-hide-desktop { display: block; }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .fx-hide-tablet { display: none; }
}
@media (max-width: 767px) {
  .fx-hide-mobile { display: none; }
}