.wp-block-fortiveax-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;

  > * {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }

  &.has-dots {
    padding-bottom: 2rem;
  }
}